mixin title (title, url, additionClass)
	.title(style=`background-image: url('assets/img/${url}')` class=additionClass)= title

mixin title__small (title, additionClass)
	.title__small(class=additionClass)= title